spring.application.name=esameFinale
# Database Connection
spring.datasource.url=jdbc:postgresql://localhost:5432/esameFinale
spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.username=YOUR_DATABASE_USERNAME
spring.datasource.password=YOUR_DATABASE_PASSWORD
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false

jwt.secret=YourVerySecretKey
jwt.expiration=86400000
